
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Google Maps JavaScript API v3 Example: Reverse Geocoding</title>
    <!--link href="../../assets/stylesheets/application.css" rel="stylesheet"-->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
      var geocoder;
      var map;
      var infowindow = new google.maps.InfoWindow();
      var marker;
      function initialize() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(40.730885,-73.997383);
        var mapOptions = {
          zoom: 8,
          center: latlng,
          mapTypeId: 'roadmap'
        }
        map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
      }

      function codeLatLng() {
        var input = document.getElementById('latlng').value;
        var latlngStr = input.split(',', 2);
        var lat = parseFloat(latlngStr[0]);
        var lng = parseFloat(latlngStr[1]);
        var latlng = new google.maps.LatLng(lat, lng);
        geocoder.geocode({'latLng': latlng}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            if (results[1]) {
              map.setZoom(11);
              marker = new google.maps.Marker({
                  position: latlng,
                  map: map
              });
              infowindow.setContent(results[1].formatted_address);
              infowindow.open(map, marker);
            } else {
              alert('No results found');
            }
          } else {
            alert('Geocoder failed due to: ' + status);
          }
        });
      }
    </script>
  </head>
  <body onload="initialize()">
    
    <style type="text/css">
      #map_tool_form {
        float: left;
        width: 250px;
      }

      #map_canvas {
        float: left;
        height: 900px;
        width: 1150px;
      }

      h1 {
        font-size: 20px;
      }
    </style>

    <form class="map_tool_form" action="/get_data" method="post">
      <fieldset>
       <div class="control-group">
         <label class="control-label" for="City">City</label>
         <div class="controls">
           <select id="city" name="city">
           <% @cities.each do |city| %>
             <option name="<%= city %>" value="<%= city %>">
               <%= city %>
             </option>
           <% end %>
           </select>
         </div>
       </div>
       <div class="control-group">
         <div class="controls">
           <input type="submit" class="btn" name="mapit" value="Map It!">
             <br/><br/>
       </div>

     </fieldset>
    </form>
    <div id="map_canvas">
    </div>    
    
    <script>
      window.onload = function() {
        load_google_map();
      }
    </script>
  </body>
</html>
