// Place all the styles related to the LocalGuide controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map_canvas {
  height: 100%;
}

@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
    height: 650px;
    width: 900px;
  }
}

#map_canvas p {
  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;
  font-size: 1.0em;
  font: inherit;
  vertical-align: baseline;
}

.map_info_window_details {
  width: 210px;
  padding: 0;
  line-height: 14px;
}

.map_info_window_link {
  font-size: 12px;
  font-weight: bold;
  color: #3D93D4;
  width: 210px;
  display: block;
  padding-top: 5px;
}

.map_info_window_review_count {
  font-size: 11px;
  color: #999;
  display: block;
  float: left;
}

.map_info_window_price {
  font-weight: bold;
  font-size: 14px;
  color: #3D3D3D;
  display: block;
  float: right;
}